auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=deep
shared-workspace-lockfile=true
ignore-scripts=true
node-linker=isolated
public-hoist-pattern[]=*tailwindcss*
public-hoist-pattern[]=@tailwindcss/*
public-hoist-pattern[]=lightningcss*
public-hoist-pattern[]=*-darwin-*
public-hoist-pattern[]=*-linux-*
public-hoist-pattern[]=*-win32-*
